<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBvqCx9c2FBXwm1xhMciTqwNB5EHgX5jQY</string>
	<key>GCM_SENDER_ID</key>
	<string>1081568714340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MarkelJMVass.VassQuick-iOS</string>
	<key>PROJECT_ID</key>
	<string>vassquick</string>
	<key>STORAGE_BUCKET</key>
	<string>vassquick.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081568714340:ios:5926f6afd5cfd0312a0971</string>
</dict>
</plist>